
@media (max-width: 390px) and (max-width: 844px) {

  #root{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
.pagina-inicial{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.logo{
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 10px;
}
img{
  height: 100px;
  width: 280px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.escrever{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding-left: 50px;
  padding-right: 50px;
}
.email{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.titulo-email{

}

.senha{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.titulo-senha{

}
input{
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 10px;
}
.botão{
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 30%;
  height: 30px;
  width: 50px;
}
.nome-do-botao{
  display: flex;
  justify-content: center;
  align-content: center;
  line-height: 1.6;
  font-size: 16px;
  width: 50px;
}

}