
@media (max-width: 390px) and (max-width: 844px) {

  #root{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
.pagina-inicial{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.logo{
  display: flex;
  justify-content: center;
  align-content: center;
}
img{
  height: 100px;
  width: 280px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.escrever{
  display: flex;
  justify-content: center;
  align-content: center;
}
.email{

}

.texto-email{

}

.senha{

}
.texto-senha{

}

.botão{
  display: flex;
  justify-content: center;
  align-content: center;
}
}