/* src/styles/globals.css */
html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
  background-color: #fafafa;
}

:root {
  --font-Inter: 'Inter', sans-serif;
  --font-Poppins: 'Poppins', sans-serif;
  --PRETO: #000000;
  --BRANCO: #FBFCFE;
  --VERDE_AGUA: #00b288;
  --AZUL_ESCURO: #242d3d;
}

/* Geral para botões, inputs, etc. */
button,
input {
  font-family: inherit;
}

/* Pequenas media queries caso queira refinar para telas maiores */
@media (min-width: 600px) {
  .day-circle {
    width: 100px;
    height: 100px;
    font-size: 18px;
  }
}